<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="blog/header::head-fragment"></head>
<body id="blog">
<div th:replace="blog/header::nav-fragment"></div>
<div th:replace="blog/header::header-fragment"></div>
<div class="am-g am-g-fixed blog-fixed">
    <div class="am-u-lg-6 am-u-sm-12">
        <main class="links-list">
            <b>我是yc，一个野生开发者</b>
            <ul>
                <li>喜欢玩游戏，喜欢宅</li>
                <li>射门爱射角旗竿，游泳称霸儿童区</li>
                <li>平生嗜好繁多，杂而不精，只有写写代码才能维持得了生活的样子</li>
                <li>日出而作，日落不息，为这热闹的世界再添一把柴</li>
            </ul>
            <br>
            <br>
            <p style="margin-bottom: 0px">这里不是瓦尔登湖，这里是德阳火车北站。<br>
                记录生活和学习中的点滴，也转载一些我自以为有趣的文章。<br>
                如果你有任何想法或意见，欢迎通过以下方式联系我：</p>
            <ul>
                <li>邮箱1: yuchengwto@163.com</li>
                <li>邮箱2: yuchengscu@gmail.com</li>
                <li>微信: yucheng261370</li>
                <li>Github: <a href="https://github.com/yuchengwto">https://github.com/yuchengwto</a></li>
            </ul>
        </main>
    </div>
    <div class="am-u-lg-6 am-u-sm-12">
        <img th:src="@{/blog/images/greycat.jpg}">
    </div>
</div>
<!-- 引入页脚footer-fragment -->
<footer th:replace="blog/footer::footer-fragment"></footer>
</body>
</html>